Repository tramontano/personal-trainer, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, feature, bug, config, i18n, mobile, testing, deploy

.github/labeler.yml:

documentation:
  - ".github/*"
  - "docs/*"
  - "*.md"

feature:
  - "apps/**"
  - "config/**"
  - "!apps/*/tests/**"

bug:
  - "apps/*/tests/**"
  - "!apps/*/tests/factories.py"

config:
  - "*.yml"
  - "*.yaml"
  - "*.toml"
  - "*.ini"
  - ".env.example"
  - "Dockerfile"
  - "docker-compose.yml"
  - "requirements.txt"

i18n:
  - "locale/**"

mobile:
  - "mobile/**"

testing:
  - "tests/**"
  - "*test*.py"

deploy:
  - "deploy/**"
  - ".github/workflows/deploy.yml"

Update ci.yml
  .github/workflows/ci.yml
Labels: feature, bug

Create nighly_merge.yml
  .github/workflows/nighly_merge.yml
Labels: feature, bug

Create dependabotautomerge.yml
  .github/workflows/dependabotautomerge.yml
Labels: feature, bug

Update nighly_merge.yml
  .github/workflows/nighly_merge.yml
Labels: feature, bug

Update README.md
  README.md
Labels: documentation, feature, bug

Update ci.yml
  .github/workflows/ci.yml
Labels: feature, bug

feat: Enhance testing suite with pytest-django
  apps/core/tests.py
  config/settings.py
  pytest.ini
Labels: feature, bug, config

feat: Implementar sistema completo de internacionalização (i18n)
  apps/core/templates/core/home.html
  apps/core/test_i18n.py
  apps/core/urls.py
  apps/core/views.py
  config/settings.py
  config/urls.py
  locale/en/LC_MESSAGES/django.po
  locale/es/LC_MESSAGES/django.po
  locale/pt_BR/LC_MESSAGES/django.po
Labels: feature, bug, i18n

feat: improve code quality and configure DRF
  apps/core/test_i18n.py
  apps/core/tests.py
  apps/core/views.py
  config/settings.py
  todo.md
Labels: documentation, feature, bug

Delete todo.md
  todo.md
Labels: documentation, feature, bug

feat: implementa configurações por ambiente e corrige problemas de segurança
  .env.example
  analise_tecnica.md
  apps/core/test_i18n.py
  apps/core/tests.py
  apps/core/urls.py
  apps/core/views.py
  config/settings/__init__.py
  config/settings/base.py
  config/settings/development.py
  config/settings/production.py
  config/settings/testing.py
  todo.md
Labels: documentation, feature, bug, config

Delete .github/workflows/dependabotautomerge.yml
  .github/workflows/dependabotautomerge.yml
Labels: feature, bug

Delete analise_tecnica.md
  analise_tecnica.md
Labels: documentation, feature, bug

Update .env.example
  .env.example
Labels: feature, bug, config

Delete config/settings/__init__.py
  config/settings/__init__.py
Labels: feature, bug
