Repository tramontano/personal-trainer, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, feature, bug, config, i18n, mobile, testing, deploy

.github/labeler.yml:

documentation:
  - ".github/*"
  - "docs/*"
  - "*.md"

feature:
  - "apps/**"
  - "config/**"
  - "!apps/*/tests/**"

bug:
  - "apps/*/tests/**"
  - "!apps/*/tests/factories.py"

config:
  - "*.yml"
  - "*.yaml"
  - "*.toml"
  - "*.ini"
  - ".env.example"
  - "Dockerfile"
  - "docker-compose.yml"
  - "requirements.txt"

i18n:
  - "locale/**"

mobile:
  - "mobile/**"

testing:
  - "tests/**"
  - "*test*.py"

deploy:
  - "deploy/**"
  - ".github/workflows/deploy.yml"

Update TODO.md
  docs/TODO.md
Labels: documentation, feature, bug

Update ci.yml
  .github/workflows/ci.yml
Labels: feature, bug

Delete core
  core
Labels: feature, bug

Update README.md
  README.md
Labels: documentation, feature, bug

Update requirements.txt
  requirements.txt
Labels: feature, bug, config

Update requirements.txt
  requirements.txt
Labels: feature, bug, config

Update requirements.txt
  requirements.txt
Labels: feature, bug, config

Update requirements.txt
  requirements.txt
Labels: feature, bug, config

Update requirements.txt
  requirements.txt
Labels: feature, bug, config

Update requirements.txt
  requirements.txt
Labels: feature, bug, config

Update requirements.txt
  requirements.txt
Labels: feature, bug, config

Create release.yml
  .github/workflows/release.yml
Labels: feature, bug

Update release.yml
  .github/workflows/release.yml
Labels: feature, bug

Create .releaserc.json
  .releaserc.json
Labels: feature, bug

Create dependabot.yml
  .github/dependabot.yml
Labels: documentation, feature, bug

Create SECURITY.md
  SECURITY.md
Labels: documentation, feature, bug

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, feature, bug

Notes added by 'git notes add'
  8881f5aade597bb4173810d35c3ea9a5f767bd7a
Labels: feature, bug

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Labels: documentation, feature, bug

Notes added by 'git notes add'
  43b144a2cf64e84f087080fa169ebdcd6a930a7d
Labels: feature, bug

Update ci.yml
  .github/workflows/ci.yml
Labels: feature, bug

Update ci.yml
  .github/workflows/ci.yml
Labels: feature, bug

Update ci.yml
  .github/workflows/ci.yml
Labels: feature, bug

Update ci.yml
  .github/workflows/ci.yml
Labels: feature, bug

Update requirements.txt
  requirements.txt
Labels: feature, bug, config

Update ci.yml
  .github/workflows/ci.yml
Labels: feature, bug

Added Django init files
  apps/admin.py
  apps/apps.py
  apps/migrations/__init__.py
  apps/models.py
  apps/tests.py
  apps/views.py
  config/asgi.py
  config/settings.py
  config/urls.py
  config/wsgi.py
  manage.py
Labels: feature, bug

Update dependabot.yml
  .github/dependabot.yml
Labels: documentation, feature, bug

Update dependabot.yml
  .github/dependabot.yml
Labels: documentation, feature, bug

Added flake8 config file
  .flake8
  apps/admin.py
  apps/models.py
  apps/tests.py
  apps/views.py
  config/settings.py
  docker-compose.yml
  personal_trainer_db
Labels: feature, bug, config

Update ci.yml
  .github/workflows/ci.yml
Labels: feature, bug

Added default values for settings.py variables
  config/settings.py
Labels: feature, bug

Added more default values for settings.py variables
  config/settings.py
Labels: feature, bug

Removed unused traitlets import
  config/settings.py
Labels: feature, bug

Fixed variable typo
  config/settings.py
Labels: feature, bug

Update ci.yml
  .github/workflows/ci.yml
Labels: feature, bug

Applied black formatting
  config/settings.py
Labels: feature, bug

Update ci.yml
  .github/workflows/ci.yml
Labels: feature, bug

Applied isort standards
  config/settings.py
Labels: feature, bug

Update ci.yml
  .github/workflows/ci.yml
Labels: feature, bug
